:root {
 --background-color: transparent;
 --text-color: #fff;
 --primary-color: #53ba5f;
 --secondary-color: #6c757d;
 --accent-color: #ffc107;
 --border-color: transparent;
 --form-background: #fff;
 --form-text: #333;
}

.dark-theme {
 --background-color: #212529;
 --text-color: #f8f9fa;
 --primary-color: #53ba5f;
 --secondary-color: #adb5bd;
 --accent-color: #ffc107;
 --border-color: #495057;
 --form-background: #333;
 --form-text: #fff;
}

section {
 background-color: var(--background-color);
 color: var(--text-color);
 transition: background-color 0.3s, color 0.3s;
}